#error {
    display: none;
}

#drop {
    background: lightblue;
    text-align: center;
    padding: 1em;
    margin-top: 5px;
}

.subject-list {
    width: 300px;
}

.list-group,
.list-group-item {
    border: none;
}
