table {
    table-layout: fixed;
}

th, td {
    width: 130px;
}

th {
    background: #F5F5F5;
    text-align: center;
}

td {
    height: 75px;
}

#my-subjects .list-group-item {
    border: none;
}

#error {
    display: none;
}

#drop {
    display: none;
    text-align: center;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #e0e0e0;
    z-index: 99;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 200%;
    color: white;
}

#loading span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}
