body {
    background: lightskyblue;
}

table {
    table-layout: fixed;
}

th, td {
    width: 150px;
}

th {
    background: #F0F0F0;
    text-align: center;
}

h1, h3, p {
    padding-left: 15px;
}

h3 {
    opacity: 0.7;
}

.box {
    background: white;
    border: 1px solid grey;
    padding: 5px 10px;
    margin: 10px 0;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

.list-group,
.list-group-item {
    border: none;
}

.btn {
    margin-bottom: 15px;
}

#my-subjects-button {
    direction: rtl;
    padding-right: 15px;
}

#error {
    display: none;
}

#drop {
    display: none;
    background: lightblue;
    text-align: center;
    padding: 1em;
    margin-top: 5px;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: lightskyblue;
    z-index: 99;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 200%;
    color: white;
}

#loading span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}
