#preview {
    background: lightgreen;
    text-align: center;
    padding: 1em;
}

#drop {
    background: lightblue;
    text-align: center;
    padding: 1em;
    margin-top: 5px;
}

.box-table table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 0.25em solid #95a5a6;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7f8c8d;
    animation: responsive 5s infinite ease-in-out;
}
.box-table {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    width: 95%;
    padding: 2.5%;
}
.box-table table thead th {
    background-color: #7f8c8d;
    color: #bdc3c7;
    text-align: center;
    padding: 0.75em;
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
    vertical-align: top;
    border-left: 0.25em double #95a5a6;
}
.box-table table tbody td,
.box-table table tbody tr {
    font-family: 'Vollkorn', serif;
    font-size: 1em;
    border-left: 1px solid #95a5a6;
    padding: 1em;
}
.box-table table tbody tr:nth-child(odd) {
    background: #ecf0f1;
    color: #95a5a6;
}
.box-table table tbody tr:nth-child(even) {
    background: #bdc3c7;
    color: #7f8c8d;
}
.box-table table tbody tr a {
    text-decoration: none;
    color: #e67e22;
}
.box-table table tbody tr a:hover {
    color: #d35400;
}
.box-table .user-photo {
    background: #bdc3c7;
}
.box-table .user-tumb {
    width: 6em;
    height: 6em;
    padding: 0;
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
